section.projects {
  margin-top: 100px;
  margin-bottom: 100px;
}
@media (max-width: 1400px) {
  section.projects {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}
@media (max-width: 960px) {
  section.projects {
    margin-top: 70px;
    margin-bottom: 70px;
  }
}
section.projects div.title {
  display: grid;
  margin-bottom: 40px;
  grid-gap: 10px;
}
@media (max-width: 1400px) {
  section.projects div.title {
    margin-bottom: 30px;
  }
}
@media (max-width: 960px) {
  section.projects div.title {
    margin-bottom: 25px;
    grid-gap: 6px;
  }
}
section.projects div.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px 50px;
}
@media (max-width: 1620px) {
  section.projects div.list {
    grid-gap: 40px;
  }
}
@media (max-width: 1400px) {
  section.projects div.list {
    grid-gap: 30px;
  }
}
@media (max-width: 960px) {
  section.projects div.list {
    grid-gap: 20px;
  }
}
@media (max-width: 640px) {
  section.projects div.list {
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }
}
section.projects a.link {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}
@media (max-width: 1400px) {
  section.projects a.link {
    margin-top: 30px;
  }
}
@media (max-width: 960px) {
  section.projects a.link {
    margin-top: 25px;
  }
}
@media (max-width: 640px) {
  section.projects a.link {
    margin-top: 15px;
  }
}

section.certificates {
  margin-top: 100px;
  margin-bottom: 100px;
}
@media (max-width: 1400px) {
  section.certificates {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}
@media (max-width: 960px) {
  section.certificates {
    margin-top: 70px;
    margin-bottom: 70px;
  }
}
section.certificates span.subtitle {
  margin-bottom: 10px;
}
@media (max-width: 960px) {
  section.certificates span.subtitle {
    margin-bottom: 6px;
  }
}
section.certificates div.title {
  display: grid;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  grid-gap: 10px;
  margin-bottom: 40px;
}
@media (max-width: 1400px) {
  section.certificates div.title {
    margin-bottom: 25px;
  }
}
@media (max-width: 960px) {
  section.certificates div.title {
    grid-template-columns: 1fr;
    grid-gap: 25px;
  }
}
section.certificates div.title div.swiper-navigation {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 35px;
}
@media (max-width: 960px) {
  section.certificates div.title div.swiper-navigation {
    grid-template-columns: 1fr -webkit-max-content;
    grid-template-columns: 1fr max-content;
  }
}
section.certificates div.swiper-slide {
  display: grid;
  grid-gap: 20px;
}
section.certificates div.swiper-slide a.preview {
  width: 100%;
  aspect-ratio: 393/540;
  background: white;
  border-radius: 5px;
  padding: 30px;
  display: block;
}
@media (max-width: 1620px) {
  section.certificates div.swiper-slide a.preview {
    padding: 25px;
  }
}
@media (max-width: 1400px) {
  section.certificates div.swiper-slide a.preview {
    padding: 22px;
  }
}
@media (max-width: 960px) {
  section.certificates div.swiper-slide a.preview {
    padding: 20px;
  }
}
section.certificates div.swiper-slide a.preview img.preview {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
section.certificates div.swiper-slide a.preview img.zoom {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0;
}
section.certificates div.swiper-slide a.preview:hover img.preview {
  opacity: 0.4;
}
section.certificates div.swiper-slide a.preview:hover img.zoom {
  opacity: 1;
}

section.subscribe {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url(../images/2.webp);
  background-size: cover;
  color: white;
}
section.subscribe div.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--layout-gap);
}
@media (max-width: 640px) {
  section.subscribe div.container {
    grid-template-columns: 1fr;
  }
}
section.subscribe div.text {
  max-width: 760px;
}
section.subscribe div.text span {
  display: block;
  opacity: 0.7;
  max-width: 540px;
}
section.subscribe div.text h2 {
  margin-top: 10px;
  margin-bottom: 30px;
}
@media (max-width: 960px) {
  section.subscribe div.text h2 {
    margin-top: 5px;
    margin-bottom: 25px;
  }
}
@media (max-width: 640px) {
  section.subscribe div.text h2 {
    margin-top: 5px;
    margin-bottom: 20px;
  }
}
section.subscribe div.form {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: var(--layout-gap);
}
section.subscribe div.form form {
  display: grid;
  grid-gap: 20px;
  grid-column: 4 span;
}
@media (max-width: 1620px) {
  section.subscribe div.form form {
    grid-column: 5 span;
  }
}
@media (max-width: 1400px) {
  section.subscribe div.form form {
    grid-gap: 15px;
  }
}
@media (max-width: 960px) {
  section.subscribe div.form form {
    grid-column: 6 span;
  }
}
section.subscribe div.form label.checkbox {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  grid-gap: 10px;
}
section.subscribe div.form label.checkbox span {
  font-weight: 400;
  font-size: 14px;
  line-height: 110%;
  color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 960px) {
  section.subscribe div.form label.checkbox span {
    font-size: 12px;
  }
}
section.subscribe div.form label.checkbox a {
  color: white;
}
section.subscribe div.form button.gray_arrow {
  background: white;
  color: #2D252F;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background: white;
}

section.intro {
  height: 100vh;
  overflow: hidden;
}
section.intro div.container {
  position: relative;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-top: 100px;
  z-index: 1;
}
@media (max-width: 1400px) {
  section.intro div.container {
    padding-top: 89px;
  }
}
@media (max-width: 960px) {
  section.intro div.container {
    padding-top: 75px;
  }
}
section.intro div.container div.subtitle {
  margin-top: -5px;
  background: #F5F5F7;
  padding-top: 100px;
  padding-bottom: 36px;
}
@media (max-width: 1400px) {
  section.intro div.container div.subtitle {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}
@media (max-width: 960px) {
  section.intro div.container div.subtitle {
    padding-top: 100px;
    padding-bottom: 20px;
  }
}
@media (max-width: 640px) {
  section.intro div.container div.subtitle {
    padding-top: 80px;
    padding-bottom: 30px;
  }
}
section.intro div.container div.title {
  display: grid;
  margin-top: -1px;
  margin-bottom: -1px;
}
section.intro div.container div.title div {
  display: grid;
  line-height: 0;
}
section.intro div.container div.title svg {
  width: 100%;
  height: auto;
}
@media (max-width: 960px) {
  section.intro div.container div.title div.desktop {
    display: none;
  }
}
section.intro div.container div.title div.mobile {
  display: none;
}
@media (max-width: 960px) {
  section.intro div.container div.title div.mobile {
    display: block;
  }
}
section.intro div.container div.text {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-gap: 50px;
  background: #F5F5F7;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (max-width: 1620px) {
  section.intro div.container div.text {
    padding-top: 30px;
  }
}
@media (max-width: 1400px) {
  section.intro div.container div.text {
    padding-top: 30px;
    padding-bottom: 40px;
  }
}
@media (max-width: 960px) {
  section.intro div.container div.text {
    padding-top: 20px;
  }
}
@media (max-width: 640px) {
  section.intro div.container div.text {
    grid-auto-flow: row;
    grid-gap: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
section.intro div.container div.text span.text {
  display: block;
  color: #767676;
  max-width: 392px;
}
section.intro div.container::before {
  content: "";
  position: absolute;
  top: 0;
  right: calc(100% - 1px);
  display: block;
  height: 100%;
  width: calc((100vw - 100%) / 2);
  background: #F5F5F7;
}
section.intro div.container::after {
  content: "";
  position: absolute;
  top: 0;
  left: calc(100% - 1px);
  display: block;
  height: 100%;
  width: calc((100vw - 100%) / 2);
  background: #F5F5F7;
}
section.intro img.background {
  grid-column: full;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section.intro video {
  grid-column: full;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section.brands {
  padding-top: 40px;
  overflow: hidden;
}
section.brands div.container {
  grid-column: full;
}
section.brands div.swiper {
  overflow: visible;
}
section.brands div.swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
          transition-timing-function: linear !important;
}
section.brands div.swiper-slide {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
section.brands img {
  height: 50px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  opacity: 0.3;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
section.brands img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  opacity: 1;
}

section.services {
  margin-top: 100px;
  margin-bottom: 100px;
}
@media (max-width: 1400px) {
  section.services {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}
@media (max-width: 960px) {
  section.services {
    margin-top: 70px;
    margin-bottom: 70px;
  }
}
section.services div.title {
  display: grid;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  grid-gap: 10px;
  margin-bottom: 40px;
}
@media (max-width: 1400px) {
  section.services div.title {
    margin-bottom: 25px;
  }
}
@media (max-width: 960px) {
  section.services div.title {
    grid-template-columns: 1fr;
    grid-gap: 25px;
  }
}
section.services div.title div.swiper-navigation {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 35px;
}
@media (max-width: 960px) {
  section.services div.title div.swiper-navigation {
    grid-template-columns: 1fr -webkit-max-content;
    grid-template-columns: 1fr max-content;
  }
}
section.services div.swiper {
  counter-reset: services;
}
section.services a.service {
  height: 572px;
}
@media (max-width: 1620px) {
  section.services a.service {
    height: 474px;
  }
}
@media (max-width: 1400px) {
  section.services a.service {
    height: 378px;
  }
}
@media (max-width: 960px) {
  section.services a.service {
    height: 436px;
  }
}
@media (max-width: 640px) {
  section.services a.service {
    height: 388px;
  }
}/*# sourceMappingURL=index.css.map */