
section.certificates
    margin-top: 100px
    margin-bottom: 100px
    +s(l)
        margin-top: 80px
        margin-bottom: 80px
    +s(m)
        margin-top: 70px
        margin-bottom: 70px

    span.subtitle
        margin-bottom: 10px
        +s(m)
            margin-bottom: 6px

    div.title
        display: grid
        grid-template-columns: 1fr max-content
        grid-gap: 10px
        margin-bottom: 40px
        +s(l)
            margin-bottom: 25px
        +s(m)
            grid-template-columns: 1fr
            grid-gap: 25px

        div.swiper-navigation
            display: grid
            grid-auto-flow: column
            grid-auto-columns: max-content
            align-items: center
            grid-gap: 35px
            +s(m)
                grid-template-columns: 1fr max-content

    div.swiper-slide
        display: grid
        grid-gap: 20px
        a.preview
            width: 100%
            aspect-ratio: 393 / 540
            background: white
            border-radius: 5px
            padding: 30px
            display: block
            +s(xl)
                padding: 25px
            +s(l)
                padding: 22px
            +s(m)
                padding: 20px

            img.preview
                width: 100%
                height: 100%
                object-fit: contain
                transition: opacity 0.3s

            img.zoom
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
                transition: opacity 0.3s
                opacity: 0

            &:hover
                img.preview
                    opacity: 0.4
                img.zoom
                    opacity: 1
