mixin certificates(type, title)
    section.certificates
        div.container

            span.subtitle= type

            div.title
                h2 !{title}
                div.swiper-navigation
                    img(src="images/hand_swipe.svg").hand_swiper
                    div.swiper-arrows
                        div.prev
                            include ../../images/main_arrow.svg
                        div.next
                            include ../../images/main_arrow.svg


            div.swiper
                div.swiper-wrapper
                    - for (var i = 0; i < 10; i++)
                        div.swiper-slide
                            a(href="project.html").preview
                                img(src="images/1.webp", alt="").preview
                                img(src="images/zoom.svg", alt="").zoom
                            a.link
                                span Смотреть проект
                                div.arrow
                                    div.icon
                                        img(src="images/single_arrow_gradient.svg")
                                        img(src="images/single_arrow_gradient.svg")
                                        img(src="images/single_arrow_gradient.svg")
