footer
    div.container

        div.top

            a(href="index.html").logotype
                img(src="images/logotype_light.svg", alt="newSpire")

            menu
                a(href="projects.html") Проекты
                a(href="services.html") Услуги
                a(href="about.html") О компании
                a(href="news.html") Блог
                a(href="contacts.html") Контакты

            div.contacts
                div.phone
                    span Контакты
                    a(href="tel:79777667110").color: h2 +7 (977) 766 71 10
                    a(href="index.htmll")  заказать обратный звонок
                div.email
                    a(href="mailto:info@newspire.ru").color: h2 info@newspire.ru
                    span г. Химки, ул. Рабочая д.2Ак3
            
            div.callback
                span.note Оставьте заявку, мы ответим на все вопросы
                div.socials
                    a(href="index.html")
                        img(src="images/vk_footer.svg")
                        img(src="images/vk_footer_hover.svg")
                    a(href="index.html")
                        img(src="images/whatsapp_footer.svg")
                        img(src="images/whatsapp_footer_hover.svg")
                    a(href="index.html")
                        img(src="images/telegram_footer.svg")
                        img(src="images/telegram_footer_hover.svg")
                button(data-modal-target="callback").gray_arrow
                    span Рассчитать проект
                    div.arrow
                        div.icon
                            img(src="images/single_arrow.svg")
                            img(src="images/single_arrow.svg")
                            img(src="images/single_arrow.svg")

        div.bottom
            span © 2025 г. NewSpire
            a(href="index.html") Политика конфиденциальности