header
    div.container

        a(href="index.html").logotype
            img(src="images/logotype.svg", alt="newSpire")

        div.partners
            a(href="index.html")
                img(src="images/svz.svg", alt="СРО СОЮЗ Выставвочнных застройщиков")
            a(href="index.html")
                img(src="images/rsv.svg", alt="Член Российского союза выставок и ярморок")

        menu
            a(href="projects.html") Проекты
            a(href="services.html") Услуги
            a(href="about.html") О компании
            a(href="news.html") Блог
            a(href="contacts.html") Контакты

        div.contacts
            a(href="tel:79777667110") +7 (977) 766 71 10
            div.socials
                a(href=""): img(src="images/header_whatsapp.svg", alt="Whatsapp")
                a(href=""): img(src="images/header_telegram.svg", alt="Telegram")

        img(src="images/menu.svg", data-modal-target="menu").menu