mixin intro(title, datatitle, text)
    section.intro.inner
        div.container

            a(href="index.html").back
                include ../../images/main_arrow.svg

            div.breadcrumbs
                a(href="index.html") Главная 
                span= datatitle
        
            div.text
                h1(data-text=datatitle)= title
                span= text