mixin projects(type)
    section.projects
        div.container

            div.title
                span.subtitle= type
                h2 Реализованно более #[span 2 000 проектов]

            div.list
                a(href="project.html").project
                    div.preview
                        img(src="images/3.webp", alt="ГК «ЭФКО»")
                        div.tags
                            span Международные проекты
                            span Остров
                            span 2025
                    div.text
                        h5 ГК «ЭФКО»
                        span 15м2
                a(href="project.html").project
                    div.preview
                        img(src="images/4.webp", alt="ГК «ЭФКО»")
                        div.tags
                            span Остров
                            span 2025
                    div.text
                        h5 ГК «ЭФКО»
                        span 15м2
                a(href="project.html").project
                    div.preview
                        img(src="images/6.webp", alt="ГК «ЭФКО»")
                        div.tags
                            span Остров
                            span 2025
                    div.text
                        h5 ГК «ЭФКО»
                        span 15м2
                a(href="project.html").project
                    div.preview
                        img(src="images/7.webp", alt="ГК «ЭФКО»")
                        div.tags
                            span Остров
                            span 2025
                    div.text
                        h5 ГК «ЭФКО»
                        span 15м2

            a(href="index.html").more
                span Все проекты
                img(src="images/watch_project.svg", alt="")

