include ../common/pug/_mixins.pug

mixin projects(type)
    section.projects.rollup
        div.container

            div.title
                span.subtitle= type
                h2 Реализованно более #[span 2 000 проектов]

            div.list
                +project('ГК «ЭФКО»', 'images/3.webp')
                +project('ГК «ЭФКО»', 'images/4.webp')
                +project('ГК «ЭФКО»', 'images/5.webp')
                +project('ГК «ЭФКО»', 'images/6.webp')

            a(href="projects.html").link
                span Все проекты
                div.arrow
                    div.icon
                        img(src="images/single_arrow_gradient.svg")
                        img(src="images/single_arrow_gradient.svg")
                        img(src="images/single_arrow_gradient.svg")

