
section.projects
    margin-top: 100px
    margin-bottom: 100px
    +s(l)
        margin-top: 80px
        margin-bottom: 80px
    +s(m)
        margin-top: 70px
        margin-bottom: 70px

    div.title
        display: grid
        margin-bottom: 40px
        grid-gap: 10px
        +s(l)
            margin-bottom: 30px
        +s(m)
            margin-bottom: 25px
            grid-gap: 6px

    div.list
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-gap: 40px 50px
        +s(xl)
            grid-gap: 40px
        +s(l)
            grid-gap: 30px
        +s(m)
            grid-gap: 20px
        +s(s)
            grid-template-columns: 1fr
            grid-gap: 15px

    a.link
        display: grid
        justify-content: center
        margin-top: 40px
        +s(l)
            margin-top: 30px
        +s(m)
            margin-top: 25px
        +s(s)
            margin-top: 15px
