dialog(data-modal-name="article")
    div.container

        div(data-modal-close).cross
            //- include ../../images/modal_cross_white.svg
            img(src="images/modal_cross_white.svg", alt="")
            span Закрыть

        img(src="images/6.webp", alt="").preview
        div.content
            div.text
                span.date 10 мая, 2025
                h3 Застройка для ГК «ЭФКО»
                p Создать эффектный двухэтажный стенд, который будет заметным, атмосферным, подчеркивая уровень бренда на фоне других участников. В процессе учитываются различные аспекты – выбранные материалы, графическое оформление поверхностей, системы освещения, мультимедийные элементы, печатная продукция и прочее.
                p После обсуждения деталей проекта с клиентом, дизайнер начинает разрабатывать внешний вид предстоящего выставочного стенда и на завершающем этапе создает трехмерную визуализацию. В процессе учитываются различные аспекты – выбранные материалы, графическое оформление поверхностей, системы освещения, мультимедийные элементы, печатная продукция и прочее.