@import /pages/common/sass/_mixins

@import sections/_intro

section.news
    margin-top: 60px
    margin-bottom: 100px
    +s(xl)
        margin-top: 60px
    +s(l)
        margin-top: 30px
        margin-bottom: 80px
    +s(m)
        margin-top: 40px
        margin-bottom: 70px
    +s(s)
        margin-top: 30px

    div.filter
        display: grid
        grid-auto-flow: column
        grid-auto-columns: max-content
        margin-bottom: 40px
        overflow-x: scroll
        grid-gap: 2px
        &::-webkit-scrollbar
            display: none
        +s(xl)
            margin-bottom: 32px
        +s(l)
            margin-bottom: 30px
        +s(m)
            margin-bottom: 25px
        +s(s)
            margin-bottom: 20px

        label
            position: relative
            cursor: pointer
            background: white
            border-radius: 5px
            overflow: hidden
            &:has(input:checked)
                pointer-events: none
                &::before
                    opacity: 1

            input:checked + span
                color: white

            span
                position: relative
                display: block
                padding: 18px 30px
                height: 55px
                z-index: 2
                transition: all 0.3s
                +s(l)
                    border-radius: 3px
                    padding: 15px 20px
                    height: 50px

            &:before
                content: ''
                display: block
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%
                background: linear-gradient(125deg, #7f178d 0%, #ef8218 71.63%, #dcde38 98.56%)
                opacity: 0
                transition: opacity 0.5s

            &::after
                content: ''
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%
                border-radius: 5px
                border: 1px solid transparent
                background: linear-gradient(white, white) padding-box, linear-gradient(128deg, #7f178d 0%, #ef8218 54.33%, #dcde38 98.08%) border-box
                background-clip: padding-box, border-box
                z-index: 1
                opacity: 0
                transition: opacity 0.5s
                box-sizing: border-box
            &:hover
                &::after
                    opacity: 1

    div.list
        display: grid
        grid-template-columns: repeat(3, 1fr)
        grid-gap: var(--layout-gap)
        grid-row-gap: 40px
        +s(xl)
            grid-row-gap: var(--layout-gap)
        +s(m)
            grid-template-columns: repeat(2, 1fr)
        +s(s)
            grid-template-columns: 1fr

    div.article
        position: relative
        cursor: pointer
        padding: 30px
        background: white
        border-radius: 5px
        +s(xl)
            padding: 20px
            padding-top: unset
        +s(m)
            padding: 20px 15px
            padding-top: unset

        & > *
            position: relative
            z-index: 2

        div.preview
            border-radius: 5px
            width: 100%
            height: 270px
            margin-bottom: 30px
            overflow: hidden
            +s(xl)
                height: 250px
                width: calc(100% + 40px)
                margin-left: -20px
            +s(l)
                height: 212px
            +s(m)
                height: 196px
                width: calc(100% + 30px)
                margin-left: -15px

            img
                width: 100%
                height: 100%
                object-fit: cover
                transition: all 0.4s

        div.text
            display: grid
            grid-gap: 20px
            +s(l)
                grid-gap: 15px
            span
                color: #767676

        div.details
            display: grid
            grid-template-columns: max-content max-content
            justify-content: space-between
            align-items: center
            grid-gap: 20px
            margin-top: 20px
            +s(l)
                margin-top: 15px

            span.date
                display: grid
                align-items: center
                grid-template-columns: repeat(2, max-content)
                grid-gap: 8px
                text-align: right
                background: linear-gradient(128deg, #7f178d 0%, #ef8218 100%)
                background-clip: text
                -webkit-background-clip: text
                -webkit-text-fill-color: transparent
                &:before
                    content: ''
                    display: block
                    width: 8px
                    height: 8px
                    background: #7f178d
                    border-radius: 4px

        &::after
            content: ''
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            border-radius: 5px
            border: 1px solid transparent
            background: linear-gradient(white, white) padding-box, linear-gradient(128deg, #7f178d 0%, #ef8218 54.33%, #dcde38 98.08%) border-box
            background-clip: padding-box, border-box
            z-index: 1
            opacity: 0
            transition: opacity 0.5s

        &:hover
            div.preview
                img
                    transform: scale(1.05)
            &::after
                opacity: 1
