extends common/pug/_layout.pug
include common/pug/_mixins.pug
include sections/_intro.pug

mixin article(title, image)
    div(data-modal-target="article").article
        div.preview
            img(src=image, alt="ГК «ЭФКО»")
        div.text
            h5= title
            span Создать эффектный двухэтажный стенд, который будет заметным, атмосферным, подчеркивая уровень бренда на фоне других участников
        div.details
            span.date 10 мая, 2025
            a(href="index.html").link
                span Подробнее
                div.arrow
                    div.icon
                        img(src="images/single_arrow_gradient.svg")
                        img(src="images/single_arrow_gradient.svg")
                        img(src="images/single_arrow_gradient.svg")

block links
    link(rel="stylesheet", href="css/news.css")

block content
    +intro('Пресс-центр', 'Пресс-центр', 'Мы в курсе главного в EXPO. Рассказываем о самых свежих трендах и делимся новостями, которые помогут вашему бизнесу выделиться среди конкурентов')

    section.news
        div.container

            div.filter
                label
                    input(type="radio", name="year", value="all", checked)
                    span Все
                label
                    input(type="radio", name="year", value="2025")
                    span 2025
                label
                    input(type="radio", name="year", value="2024")
                    span 2024
                label
                    input(type="radio", name="year", value="2023")
                    span 2023

            div.list
                +article('Застройка для ГК «ЭФКО»', 'images/3.webp')
                +article('Застройка для ГК «ЭФКО»', 'images/4.webp')
                +article('Застройка для ГК «ЭФКО»', 'images/5.webp')
                +article('Застройка для ГК «ЭФКО»', 'images/6.webp')
                +article('Застройка для ГК «ЭФКО»', 'images/7.webp')
                +article('Застройка для ГК «ЭФКО»', 'images/3.webp')
                +article('Застройка для ГК «ЭФКО»', 'images/4.webp')
                +article('Застройка для ГК «ЭФКО»', 'images/5.webp')
                +article('Застройка для ГК «ЭФКО»', 'images/6.webp')
                +article('Застройка для ГК «ЭФКО»', 'images/7.webp')
                +article('Застройка для ГК «ЭФКО»', 'images/3.webp')
                +article('Застройка для ГК «ЭФКО»', 'images/4.webp')

            div.controls
                div.pagination
                    a(href="projects.html").active 1
                    a(href="projects.html") 2
                    a(href="projects.html") 3
                    span ...
                    a(href="projects.html") 9

                a.more Показать еще
