@import /pages/common/sass/_mixins

@import sections/_intro

section.projects
    margin-top: 60px
    margin-bottom: 100px
    +s(xl)
        margin-top: 60px
    +s(l)
        margin-top: 30px
        margin-bottom: 80px
    +s(m)
        margin-top: 40px
        margin-bottom: 70px
    +s(s)
        margin-top: 30px

    div.filter
        display: grid
        grid-auto-flow: column
        grid-auto-columns: max-content
        background: white
        margin-bottom: 50px
        // overflow-x: scroll
        // overflow-y: none
        // &::-webkit-scrollbar
        //     display: none
        +s(xl)
            margin-bottom: 40px
        +s(l)
            margin-bottom: 30px
        +s(m)
            margin-bottom: 20px

    div.list
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-gap: 40px 50px
        +s(xl)
            grid-gap: 40px
        +s(l)
            grid-gap: 30px
        +s(m)
            grid-gap: 20px
        +s(s)
            grid-template-columns: 1fr
            grid-gap: 15px

    a.project
        border-radius: 5px
        overflow: hidden
        background: white
        div.preview
            position: relative
            width: 100%
            aspect-ratio: 16 / 9
            img
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%
                object-fit: cover
            div.tags
                position: absolute
                top: 30px
                left: 30px
                width: calc(100% - 60px)
                display: flex
                flex-wrap: wrap
                gap: 5px
                +s(xl)
                    top: 20px
                    left: 20px
                +s(m)
                    top: 15px
                    left: 15px
                +s(s)
                    top: 10px

                span
                    border-radius: 50px
                    padding: 10px 15px
                    height: 35px
                    backdrop-filter: blur(10px)
                    background: rgba(255, 255, 255, 0.3)
                    font-weight: 400
                    font-size: 14px
                    line-height: 110%
                    text-align: center
                    color: white
                    +s(m)
                        font-size: 12px

        div.text
            display: grid
            align-items: center
            grid-template-columns: 1fr max-content
            padding: 30px
            +s(xl)
                padding: 20px
            +s(l)
                padding: 16px 20px
            +s(m)
                padding: 15px

            span
                color: #767676
