extends common/pug/_layout.pug
include common/pug/_mixins.pug
include sections/_intro.pug

block links
    link(rel="stylesheet", href="css/projects.css")

block content
    +intro('Проекты со своей историей', 'Проекты', 'Сделано больше 2000 проектов по всей стране, и каждый — со своей историей')

    section.projects
        div.container

            div.filter
                +select('year', 'Год', 'Все года', '2025', '2024', '2023', '2022 и ранее')
                +select('type','Тип стенда', 'Вариант 1', 'Вариант 2', 'Вариант 3', 'Вариант 4')
                +select('area','Площадь', 'Вариант 1', 'Вариант 2', 'Вариант 3', 'Вариант 4')

            div.list
                - for (var i = 0; i < 12; i++)
                    a(href="project.html").project
                        div.preview
                            img(src="images/3.webp", alt="ГК «ЭФКО»")
                            div.tags
                                span Международные проекты
                                span Остров
                                span 2025
                        div.text
                            h5 ГК «ЭФКО»
                            span 15м2

            div.controls
                div.pagination
                    a(href="projects.html").active 1
                    a(href="projects.html") 2
                    a(href="projects.html") 3
                    span ...
                    a(href="projects.html") 9

                a.more Показать еще
