extends common/pug/_layout.pug
include sections/_intro.pug

block links
    link(rel="stylesheet", href="css/services.css")

block content
    +intro('Услуги', 'Услуги', 'Поможем с аккредитацией, логистикой, кейтерингом')

    section.services
        div.container
            div.list
                a(href="service.html").service
                    h4 3D-дизайн #[br]и графика
                    span Изучим ваш бизнес, позиционирование и цели. Создадим точную визуализацию, чтобы вы знали, как будет выглядеть ваш стенд в пространстве
                a(href="service.html").service
                    h4 Проектирование #[br]и аккредитация
                    span Подготовим все документы, учтём требования выставочного центра и позаботимся о безопасности конструкций. Никаких неожиданностей на монтаже
                a(href="service.html").service
                    h4 Производство #[br]стендов
                    span Создадим стенд, который выделит вас на выставке. У нас свое производство: современные станки и контроль качества. Воплощаем в жизнь даже сложные идеи
                a(href="service.html").service
                    h4 Демонтаж #[br]и строительство
                    span Надёжно и вовремя соберём ваш стенд на площадке и аккуратно разберём после выставки. По графику, без лишнего шума и задержек
                a(href="service.html").service
                    h4 Аренда #[br]оборудования
                    span Предоставим в аренду все, что нужно: мультимедиа, освещение, мебель. Никаких лишних забот — просто подключайтесь и работайте
                a(href="service.html").service
                    h4 Сопутствующие #[br]услуги
                    span Поможем с аккредитацией, кейтерингом, промо-персоналом и сувенирами. Полный комфорт для вас и вашей команды на выставке